In [1]:
# Machine Learning ML
# sklearn library will be needed for ml 
# Linear Regression

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [3]:
# duplicates record
print("Number of Duplicated Record : ",df.duplicated().sum())

Number of Duplicated Record :  25324

In [4]:
df.drop_duplicates(inplace=True)
print("Duplicates Removed!")

Duplicates Removed!

In [5]:
print("Number of Duplicated Record : ",df.duplicated().sum())

Number of Duplicated Record :  0

In [6]:
print("Total number of bike Record : ",df.shape[0])

Total number of bike Record :  7324

In [7]:
# missing value check in data
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [8]:
# ML only deals with numerical value
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [9]:
cat_col = df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [10]:
num_col = df.select_dtypes(exclude='O')
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [11]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [12]:
# Data Transformation
dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,
      'Fourth Owner Or More':4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [13]:
df['owner'] = df['owner'].map(dt) # single time execute

In [14]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [15]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [16]:
# Get the brands that appear at least 10 times
bike_brand = list(df['brand'].value_counts().head(16).index)
bike_brand

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [17]:
df2 = df[df['brand'].isin(bike_brand)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [18]:
br = {'Bajaj':1,
 'Royal Enfield':2,
 'Hero':3,
 'Honda':4,
 'Yamaha':5,
 'TVS':6,
 'KTM':7,
 'Suzuki':8,
 'Harley-Davidson':9,
 'Kawasaki':10,
 'Hyosung':11,
 'Mahindra':12,
 'Benelli':13,
 'Triumph':14,
 'Ducati':15,
 'BMW':16}

df2['brand'] = df2['brand'].map(br) # label encoding
df2.head()

C:\Users\Vinayak\AppData\Local\Temp\ipykernel_3320\936175165.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand'] = df2['brand'].map(br) # label encoding

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5

In [19]:
df2.drop(['bike_name','city'],axis=1,inplace=True)

C:\Users\Vinayak\AppData\Local\Temp\ipykernel_3320\1642961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis=1,inplace=True)

In [20]:
df2.head()

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6
4   80000.0     10000.0      1  3.0  150.0      5

In [21]:
# Supervised learning   y--> price remaining x
x = df2.drop('price',axis=1) # independent variable
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [22]:
y = df2[['price']] # dependent variable
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lnr = LinearRegression()

In [27]:
lnr.fit(x_train,y_train)

LinearRegression()

In [28]:
# Model Evaluation
print("Training Score : ",lnr.score(x_train,y_train)*100)

Training Score :  74.06225156207444

In [29]:
print("Testing Score : ",lnr.score(x_test,y_test)*100)

Testing Score :  73.68392599288435

In [30]:
x_test.shape

(1462, 5)

In [31]:
prediction = lnr.predict(x_test)

In [32]:
prediction.shape

(1462, 1)

In [33]:
comparedf = pd.concat([x_test,y_test],axis=1)

In [34]:
comparedf['prediction'] = prediction

In [35]:
comparedf.head(40)

      kms_driven  owner   age  power  brand     price     prediction
1128     29500.0      2   9.0  100.0      1   24999.0  -26080.015191
2663      4100.0      1   5.0  160.0      4   75000.0   61722.565962
9085     91311.0      1  11.0  150.0      4   21000.0   33064.758041
626      19333.0      1   4.0  220.0      1   63000.0   58419.228465
1874       800.0      1   3.0  400.0      1  140000.0  157494.799599
4773     26796.0      1   6.0  150.0      8   35000.0  100315.367015
4613     15580.0      1   7.0  100.0      1   18000.0  -12550.755836
129      16000.0      1   9.0  200.0      7   68000.0  107397.630706
5109      5500.0      1   2.0  160.0      4   91000.0   69659.839248
3036     36000.0      1   6.0  180.0      6   44000.0   91133.654542
1687     39500.0      1   8.0  100.0      1   20000.0  -17232.325539
4349     18000.0      1   3.0  160.0      4   75000.0   65931.617237
5626     25435.0      1   5.0  150.0      1   48000.0   18341.449492
3630     15948.0      1   4.0  100.0      3   32000.0   19693.312182
6330     33500.0      1   8.0  180.0      1   33000.0   25421.318135
7884     41048.0      1  10.0  150.0      5   29900.0   52055.776845
7852      7500.0      1   5.0  800.0     10  750000.0  471322.744397
7784      2200.0      1   4.0  500.0      2  175000.0  219494.483510
8437      3869.0      1  16.0  100.0      3   18000.0  -11514.910587
778      35958.0      1   5.0  200.0      6   59999.0  104360.066187
6041     45000.0      1   7.0  150.0      1   19000.0   11338.722168
4102     26000.0      1   9.0  180.0      1   38000.0   23362.706791
5114     26500.0      1   7.0  100.0      1   32000.0  -13462.363260
1158      5000.0      1   7.0  350.0      2   85700.0  132170.166096
5082      4400.0      1   5.0  250.0     11  283700.0  193891.627207
7786     22271.0      1   6.0  200.0      1   80000.0   42266.341851
2346     25683.0      1   9.0  100.0      3   24000.0    5457.052468
3724     38470.0      1   5.0  220.0      1   49000.0   54136.946153
6284      7000.0      1   6.0  535.0      2  145000.0  232166.178968
5438     98707.0      1  11.0  150.0      1   25000.0   -3883.628215
4877     21000.0      1   5.0  100.0      1   25200.0   -7633.789638
5057      5640.0      1   3.0  390.0      7  198000.0  224483.587221
4150     52487.0      1  12.0  160.0      6   20000.0   63110.828804
356      15000.0      1   4.0  110.0      4   45000.0   37151.868197
5850      9500.0      1   4.0  400.0      1  145000.0  154083.803614
3287      8800.0      1  11.0  150.0      5   45000.0   52063.141741
7372     17210.0      1   9.0  100.0      3   21000.0    6164.383027
6087     26000.0      1   8.0  125.0      4   27500.0   33398.363541
1876     27192.0      1   5.0  150.0      1   48000.0   18194.774195
3134     12000.0      1   2.0  100.0      1   32000.0    1171.681195

In [36]:
comparedf['residual'] = comparedf['price'] - comparedf['prediction']

In [37]:
comparedf.head(10)

,kms_driven,owner,age,power,brand,price,prediction,residual
1128,29500.0,2,9.0,100.0,1,24999.0,-26080.015191,51079.015191
2663,4100.0,1,5.0,160.0,4,75000.0,61722.565962,13277.434038
9085,91311.0,1,11.0,150.0,4,21000.0,33064.758041,-12064.758041
626,19333.0,1,4.0,220.0,1,63000.0,58419.228465,4580.771535
1874,800.0,1,3.0,400.0,1,140000.0,157494.799599,-17494.799599
4773,26796.0,1,6.0,150.0,8,35000.0,100315.367015,-65315.367015
4613,15580.0,1,7.0,100.0,1,18000.0,-12550.755836,30550.755836
129,16000.0,1,9.0,200.0,7,68000.0,107397.630706,-39397.630706
5109,5500.0,1,2.0,160.0,4,91000.0,69659.839248,21340.160752
3036,36000.0,1,6.0,180.0,6,44000.0,91133.654542,-47133.654542

In [38]:
# prediction
unseen_bike = [[3500,2,2,220,3]]
price_of_unseen_bike = lnr.predict(unseen_bike)
price_of_unseen_bike

c:\Users\Vinayak\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[82333.26961768]])

In [39]:
# Saving models
import os,joblib

In [40]:
os.makedirs('models',exist_ok=True)

In [41]:
lnr

LinearRegression()

In [42]:
joblib.dump(lnr,'./models/lineraRegression.lb')

['./models/lineraRegression.lb']